# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# Log & Database files
*.log
*.db
db/*.db
db/*.db-wal
db/*.db-shm
